/* universal Selector start */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* universal Selector end */

/* beautiful flower section styles start */

.beautiful-flower-container{

    width: 1720px;
height: 850px;
background:rgba(229, 84, 115, 0.1);
width:100%;
height:100%;
display:flex;
justify-content:space-around;
position:relative;

}

.beautiful-flower-full-content{
    width:97%;
height:96%;
/* display:flex;
justify-content:space-around; */
display:flex;
   justify-content: space-around;

}

.beautiful-flower-description{
    width: 708px;
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.beautiful-flower-description h1{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
margin-bottom:10px;
}

.beautiful-flower-description p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 15px;
font-weight: 400;
margin-bottom:10px;
}

.btn1{
    width: 150px;
height: 50px;
color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
background: rgb(229, 84, 115);
position:relative;
right: 8rem;
cursor:pointer;

}

.beautiful-flower-image-container{
  
  width:100%;
  height:100%;
    
}
.beautiful-flower-image-container img{
    width: 635px;
    height: 476px;
  width:50%;
  position:relative;
  top:30px;
  bottom:0;
  left:220px;
}



/* beautiful flower section styles end */



